<h1>MooMill Users</h1>

<% @users.each do |user| %>
    <div class="user-avatar-name-container">
      <div class="user-image-name">
        <%= image_tag(user.avatar.url, :size => '32x32', :class => 'img-thumbnail navbar-right avatar') %>
        <%= user.name %>
      </div>
      <div class="follow-unfollow-container">
        <% if current_user %>
            <% if current_user.following?(user) && current_user != user %>
                <%= link_to "Unfollow", unfollow_user_path(user), class: "unfollow-link" %>
            <% else %>
                <%= link_to "Follow", follow_user_path(user), class: "follow-link" %>
            <% end %>
        <% end %>
      </div>
    </div>
<% end %>

