<% @users.each do |user| %>
  <ul>
    <li>
      <%= user.name %>
    </li>
    <li>
      <ul>
        <% user.moos.each do |moo| %>
          <li>
            <%= moo.description %>
            created at <%= moo.created_at %>
          </li>
        <% end %>
      </ul>
    </li>
  </ul>


<% end %>