<h1>Welcome to MooMill!</h1>

<% if current_user %>
    <%= link_to 'New Moo', new_moo_path %>

    <% @moos.each do |moo| %>
        <%= moo.description %>
    <% end %>
<% else %>
    <p>To begin Mooing, please <%= link_to "Sign In", new_user_session_path %>. If you aren't already registered, <%= link_to 'Sign up', new_user_registration_path %> now!</p>
<% end %>


