/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: sans-serif;
  background-image: url('../images/cow-spot.jpg');
  background-size: 100%;
}

.navbar-nav {
  text-align: right;

  li,
  button,
  form {
    display: inline-block;
  }

  li {
    vertical-align: middle;
    border-right: 1px solid lightgray;
    padding: 0 10px;

    &:nth-of-type(4),
    &:last-of-type {
      border-right: none;
    }
  }

  a {
    text-decoration: none;
    color: black;

    &:hover,
    &:active {
      color: deeppink;
    }
  }

  .sign-up-link {
    color: white;
    padding: 10px;
    background-color: deeppink;
    border-radius: 5px;
    transition: 0.2s ease;

    &:hover {
      color: #555;
    }
  }

  .log-out-button {
    border: none;
    background-color: white;
    color: #777;
    font-size: 14px;
    cursor: pointer;

    &:focus {
      outline: 0;
    }

    &:hover {
      color: deeppink;
    }
  }

  img {
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 3px;
  }
}

.following-container {
  margin-bottom: 20px;
  text-align: right;
  color: deeppink;

  span {
    border-bottom: 1px solid lightgray;
    padding-bottom: 5px;
  }
}

.homepage-signup-container {
  text-align: center;

  .cow {
    margin-top: 50px;
  }
}

.form-header {
  text-align: center;
}

.form-container {
  margin: 0 auto;
  max-width: 300px;
  background-color: rgba(155, 160, 180, 0.5);
  padding: 30px;
  box-sizing: border-box;
  border-radius: 5px;
  text-align: center;

  label {
    display: block;
    padding-bottom: 10px;
  }

  input,
  textarea {
    border-radius: 3px;
    margin-bottom: 20px;
    padding: 5px;
    border: none;
  }

  textarea {
    width: 200px;
    height: 100px;
  }

  .checkbox {
    label,
    input {
      display: inline-block;
    }
  }

  input[type="submit"] {
    color: #fff;
    padding: 10px;
    background-color: rgba(8, 207, 0, 1);
    border: none;
    font-size: 14px;
    transition: 0.2s ease;
    width: 200px;

    &:hover {
      color: #888;
    }
  }
}

.forgot-signup-links {
  text-align: center;
  margin-top: 30px;
}

.cancel-account {
  text-align: center;
  margin-bottom: 100px;
}